@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}

* {
  font-family: fira sans;
}

.title-pe {
  font-family: fira sans;
}

h1 {
  font-family: Bebas Neue;
}

h2 {
  font-family: Bebas Neue;
}

h3 {
  font-family: Bebas Neue;
}

h4 {
  font-family: Bebas Neue;
}

body {
  margin: 0;
  padding: 0;
}



#vid-back {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 0 0;
}

#responsive-vid {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

iframe {
	position: absolute;
	width: 100%; 
	height: 100%;
}

.flexen {
  min-width: 100%;
}

.flex-content {
	display: flex;
}

@media (max-width: 640px) {
  .content-all {
    margin: 0;
    min-width: 100%;
    width: auto;
  }

  .flex-content{
    display: block;
    width: auto;
    margin: 0;
  }

  #video-background{
    max-width: 100%;
    margin: 0;
	max-height: 300px;
  }
}



.parent {
	line-height: 150%;
	font-size: 25px;
	flex: 2;
}

.parent-2 {
  	margin: 0 50px 0 10px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.flex-dis {
	margin: 0 10% 0 10%;
	padding-bottom: 100px;
	padding-left: 1px;
	flex: 1;
}

}

.flex-josh {
	flex-direction: column;
	margin-top: 1em;
	flex: 1;
}

.flex-shaun {
	flex: 1;
}

#red-text {
	color: red;
}

figure.snip0069 {
  align-self: center;
  color: #fff;
  position: relative;
  //float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 100%;
  width: 100%;
  text-align: center;
}
figure.snip0069 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0069 > .image {
  display: block;
  position: relative;
  padding: 15px 0;
}
figure.snip0069 > .image img {
  width: 70%;
  border-radius: 50%;
}
figure.snip0069 > .image:before {
  position: absolute;
  bottom: 0;
  content: '';
  background: #ffffff;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}
figure.snip0069 figcaption {
  position: relative;
  background: #ffffff;
}
figure.snip0069 figcaption:before {
  position: absolute;
  width: 100%;
  background: #000000;
  height: 0px;
  bottom: 0;
  display: block;
  content: '';
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
figure.snip0069 h3,
figure.snip0069 p {
  margin: 0;
  display: inline-block;
  width: 100%;
}
figure.snip0069 h3 {
  padding: 10px 15px;
  background: #333333;
  text-transform: uppercase;
}
figure.snip0069 p {
  font-size: 0.9em;
  font-weight: 500;
  background: #ffffff;
  color: #4d4d4d;
  padding: 20px 40px 30px;
}
figure.snip0069 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0069.blue h3,
figure.snip0069.blue figcaption:before {
  background: #2980b9;
}
figure.snip0069.red h3,
figure.snip0069.red figcaption:before {
  background: #c0392b;
}
figure.snip0069.yellow h3,
figure.snip0069.yellow figcaption:before {
  background: #00aeef;
}
figure.snip0069.navy h3,
figure.snip0069.navy figcaption:before {
  background: #34495e;
}
figure.snip0069:hover figcaption:before,
figure.snip0069.hover figcaption:before {
  height: 10px;
}

.int-cent {
  font-family: fira sans;
  text-align: center;
}
#int-cent {
  text-align: center;
}

